- @recipes.each_slice(3) do |recipe|
	.row
		- recipe.each do |r|
			.col-md-3.recipe-container
				%b
					= link_to r.title.capitalize, r
				.recipe
					.image_wrapper
						.thumbail
							= link_to r do
								= image_tag r.image.url(:Medium)
					= r.category.title if r.category
				%p
					= link_to 'Ver Mais', r, class: 'btn btn-primary'
					- if current_user
						- if r.liked_by?(current_user)
							= link_to 'Like', 'javascript:void(0)', id: "like-recipe-#{r.id}", class: 'btn btn-primary like-recipe', data: { recipe_id: r.id }, style: 'display:none;'
							= link_to 'Unlike', 'javascript:void(0)', id: "unlike-recipe-#{r.id}", class: 'btn btn-primary unlike-recipe', data: { recipe_id: r.id }
						- else
							= link_to 'Like', 'javascript:void(0)', id: "like-recipe-#{r.id}", class: 'btn btn-primary like-recipe', data: { recipe_id: r.id }
							= link_to 'Unlike', 'javascript:void(0)', id: "unlike-recipe-#{r.id}", class: 'btn btn-primary unlike-recipe', data: { recipe_id: r.id }, style: 'display:none;'
					- else
						= link_to 'Like', 'javascript:void(0)', id: "like-recipe-#{r.id}", class: 'btn btn-primary like-recipe', data: { recipe_id: r.id }
						= link_to 'Unlike', 'javascript:void(0)', id: "unlike-recipe-#{r.id}", class: 'btn btn-primary unlike-recipe', data: { recipe_id: r.id }, style: 'display:none;'

					%a.btn.btn-primary{:href => "#", :role => "button"} Compartilhar