/= render 'sidebar'
.jumbotron
  %h1 Aqui Voce é o MasterChef
  %p Poste suas Receitas e Ganhe Premios !!
  %p
    %a.btn.btn-primary.btn-lg{:href => new_recipe_path , :role => "Postar"} Poste Sua Receita !
.col-xs-12.col-sm-10
  .container
    = render partial: 'recipes'

  :javascript
    $('.star-rating').raty({
      path: '/assets',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
        }
    });
.col-xs-6.col-sm-2.sidebar-offcanvas
  %b
    = "Most Active Users"
  .list-group
    - @most_active_users.each do |user|
      = link_to "#{user.name} (#{user.recipes.count})", profile_path(user.profile.id), class: 'list-group-item'
  %b
    = "Most Popular Recipes"
  .list-group
    - @popular_recipes.each do |recipe|
      = link_to "#{recipe.title} - #{recipe.likers(User).count} Likes", recipe_path(recipe), class: 'list-group-item'
