<h1>Listing tree_recipes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tree_recipes.each do |tree_recipe| %>
      <tr>
        <td><%= tree_recipe.description %></td>
        <td><%= link_to 'Show', tree_recipe %></td>
        <td><%= link_to 'Edit', edit_tree_recipe_path(tree_recipe) %></td>
        <td><%= link_to 'Destroy', tree_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tree recipe', new_tree_recipe_path %>
